@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




:root {
    --primary: #DC0A2D;
    /* Primary 1 in figma */
    --bug: #A7B723;
    --dark: #75574C;
    --dragon: #7037FF;
    --electric: #F9CF30;
    --fairy: #E69EAC;
    --fighting: #C12239;
    --fire: #F57D31;
    --flying: #A891EC;
    --ghost: #70559B;
    --normal: #AAA67F;
    --grass: #74CB48;
    --ground: #DEC16B;
    --ice: #9AD6DF;
    --poison: #A43E9E;
    --psychic: #FB5584;
    --rock: #B69E31;
    --steel: #B7B9D0;
    --water: #6493EB;



}

.background-primary {
    background-color: var(--primary);

}

.background-bug {
    background-color: var(--bug);
}

.background-dark {
    background-color: var(--dark);
}

.background-dragon {
    background-color: var(--dragon);

}

.background-electric {
    background-color: var(--electric);

}

.background-fairy {
    background-color: var(--fairy);

}

.background-fighting {
    background-color: var(--fighting);

}

.background-fire {
    background-color: var(--fire);


}

.background-flying {
    background-color: var(--flying);

}

.background-ghost {
    background-color: var(--ghost);

}

.background-normal {
    background-color: var(--normal);


}

.background-grass {
    background-color: var(--grass);

}

.background-ground {
    background-color: var(--ground);

}

.background-ice {
    background-color: var(--ice);

}

.background-poison {
    background-color: var(--poison);


}

.background-psychic {
    background-color: var(--psychic);

}

.background-rock {
    background-color: var(--rock);

}

.background-steel {
    background-color: var(--steel);

}

.background-water {
    background-color: var(--water);

}




html {
    font-family: "Poppins", sans-serif;
}

input,
textarea,
button

/* wow jo automatically inerit nehin kartay html class sy unhain assign kia hai*/
    {

    font-family: "Poppins", sans-serif;
}

.text_color--white {
    color: white;
}

.text_color-primary {
    color: var(--primary);
}

.text_color-bug {
    color: var(--bug);
}

.text_color-dark {
    color: var(--dark);
}

.text_color-dragon {

    color: var(--dragon);
}

.text_color-electric {
    color: var(--electric);

}

.text_color-fairy {
    color: var(--fairy);
}

.text_color-fighting {
    color: var(--fighting);
}

.text_color-fire {
    color: var(--fire);

}

.text_color-flying {

    color: var(--flying);
}

.text_color-ghost {

    color: var(--ghost);
}

.text_color-normal {

    color: var(--normal);
}

.text_color-grass {

    color: var(--grass);
}

.text_color-ground {

    color: var(--ground);
}

.text_color-ice {

    color: var(--ice);
}

.text_color-poison {

    color: var(--poison);
}

.text_color-psychic {

    color: var(--psychic);

}

.text_color-rock {

    color: var(--rock);

}

.text_color-steel {

    color: var(--steel);

}

.text_color-water {

    color: var(--water);

}

.margin__top {
    margin-top: 20px;
    margin-bottom: 10px;
}

.flex-display {
    display: flex;
}